/* font-family: 'Rampart One', cursive;
font-family: 'Source Code Pro', monospace; 
Extra-light 200 italic
Regular 400
Bold 700 */

body {
    background-color: #222222;
    font-family: 'Source Code Pro', monospace;
}


h1 {
    
    font-weight: 400;
    width: 800px;
    font-size: 2.5rem;
    margin: 4rem 5rem 10rem 5rem;
    color: #CBCBCB;
}

.course {
    width: 300px;
    display: block;
    margin: 0 auto;
}


.card {
    width: 320px;
    height: 168px;
    padding: 8px 0px;
    background-color: white;
    margin-left: 10rem;
    opacity: 80%;
    cursor: pointer;
    transition: 300ms;
}

.card:hover {
    opacity: 100%;
    
}

.back-link {
    cursor: pointer;
}

#back-button {
    color: #CBCBCB;
    font-size: 3rem;
}

#back-button:hover {
    color: white;
}

.files {
    border-radius: 1rem;
    margin-left: 4rem;
    width: 40rem;
    padding: 4rem;
    background: rgb(68,68,68);

}
.download-link {

    color: #CBCBCB;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    margin: 1rem 0;
    transition: 300ms;
}

.download-link:hover {
    color: white;
    
}

.download-link:hover::after {
    content: '  - click to download! - ';
    font-size: 1rem;
    
}

@media (max-width:480px) {
    h1 {
        font-size: 1.5rem;
        margin: 1rem 2rem 3rem 1rem ;
    }

    .card {
    width: 160px;
    height: 84px;
    padding: 3px 0px;
    
    margin-left: 3rem;
    

    }

    .card img {
        width: 150px;
    }

    #back-button {
        font-size: 1.5rem;
    }

    .download-link {
        font-size: 0.8rem;
    }

    .files {
        border-radius: 1rem;
        margin-left: 2rem;
        width: 20rem;
        padding: 1rem;
    }
}