* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #000;
  --bg-color: #d8dbe0;
  --hover-color: #c39e79;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("codecappuccino-bg.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #222222;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 2rem;
  color: var(--text-color);
}

nav {
  padding: 2rem 1rem;
  background-color: var(--bg-color);
  font-weight: 700;
  border-bottom: 25px solid black;
}

.main-page-link {
  margin: 0 3rem 1rem 1rem;
}

a {
  color: var(--text-color);
  font-size: 1.5rem;

  text-decoration: none;
  transition: ease-out 0.2s;
}

a:hover {
  color: var(--hover-color);
  transition: ease-in 0.2s;
}

.secondary-page-nav {
  width: 100vw;
  display: inline-grid;
  grid-template-columns: 2fr 10fr;
}

.secondary-pace-col1 a {
  color: var(--text-color);
  margin: 0 0.5rem 0 0;
}

.secondary-page-col2 h2 {
  font-size: 1.5rem;
}

.sub-menus {
  display: inline-grid;
  grid-template-columns: 4fr 4fr 4fr;
  margin-top: 1rem;
}

.sub-menus a {
  font-size: 1rem;
  font-weight: 400;
}

.sub-menus-col1 {
  display: flex;
  flex-direction: column;
}

.sub-menus-col1 a {
  margin-bottom: 0.5rem;
}

.sub-menus col1 a:hover {
  color: var(--hover-color);
}

@media (max-width: 400px) {
  body {
    background-image: url("codecappuccino-mobile-bg.jpg");
    background-position: bottom center;
    background-size: auto 100vh;
  }
}
