* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #000;
  --bg-color: #d8dbe0;
  --hover-color: #c39e79;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("codecappuccino-bg.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #222222;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 2rem;
  color: var(--text-color);
}

nav {
  padding: 2rem 1rem;
  background-color: var(--bg-color);
  font-weight: 700;
  border-bottom: 25px solid black;
}

a {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-right: 3rem;
  text-decoration: none;
  transition: ease-out 0.2s;
}

a:hover {
  color: var(--hover-color);
  transition: ease-in 0.2s;
}

.linkBackArrow {
  color: var(--text-color);
  margin: 0 0.5rem 0 0;
}

.secondary-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secondary-page-links {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}

.secondary-page-links a {
  font-size: 1rem;
  font-weight: 400;
}

.secondary-page-links a:hover {
  color: var(--hover-color);
}

@media (max-width: 400px) {
  body {
    background-image: url("codecappuccino-mobile-bg.jpg");
    background-position: bottom center;
    background-size: auto 100vh;
  }

  nav {
    font-weight: 700;
    border-bottom: 15px solid black;
  }

  .secondary-page-nav {
    padding: 0.5rem;
  }

  a {
    margin: 0.2rem 0 0.5rem 0.2rem;
    display: block;
  }

  h2 {
    font-size: 1.5rem;
  }

  .secondary-page-links a {
    margin: 0;
  }

  .linkBack {
    display: inline-block;
  }
}
